*/mammo_marker*
*.o
*.~
.cproject
.project
*/original_dataset/*
*/newDataset/*
*/benign/*
*/good/*
*/good-11-09-2019/*
*/malignant/*
*/malignant-11-09-2019/*
*/runs/*
*/labels-dataset-12-09-2019/*
*/cropped/*
*/classified/*
*/cropped_tensor/*
*/cropp_prob/*
*/probabilities/*
*/test_viewer_dataset/*
*/val_viewer_dataset/*
*/train_viewer_dataset/*
