*.o
*.~*
.cproject
.project
*.metadata*
*.pydevproject*
*birads_dataset*
*Calc-CC_flipped_dataset*
*mammo_viewer*
*cancer_tissue_dataset*
*new_dataset*
*old_birads_dataset*
*.pth
*classification_error.txt*
*.db*
*__pycache__*
*.tar.gz*
*.xml*
*.idea/*
*.iml*
